################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnterpriseODataApis/.vs
/EnterpriseODataApis/obj
/EnterpriseODataApis/bin